{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<html>
    <head>
        <title>{{ site.title }}</title>
        {% stylesheet main %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class='container'>
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">{{ site.title }}</a>
                    <ul class="nav pull-right follow">
                        <li><a href="#"><i class='icon icon-rss'></i><span>RSS</span></a></li>
                        <li><a href="#"><i class='like-icon'>a</i><span><span>Alpha</span></a></li>
                        <li><a href="#"><i class='icon icon-twitter'></i><span>Twitter</span></a></li>
                        <li><a href="#"><i class='icon icon-facebook'></i><span>Facebook</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='content'>
            {% if page.header %}
            <div class='container'>
                <div class='hero-unit'>
                    <h1>{{ site.title }}</h1>
                </div>
            </div>
            {% endif %}
            <div id="content" class='container'>
                {{ content | expand_urls: root_url }}
            </div>
        </div>
        <div class='container'>
            <hr>
            <footer role="contentinfo" class='text-center'>
                <div class='top-footer'>
                    <h4 class='info'>
                        {{ site.subtitle }}
                    </h4>
                </div>
                <div class='bottom-footer'>
                    <ul class="nav nav-pills">
                        <li><a href="#"><i class='icon icon-calendar'></i><span>Season</span></a></li>
                        <li><a href="#"><i class='icon icon-edit'></i><span><span>About</span></a></li>
                        <li><a href="#"><i class='icon icon-rss'></i><span>Follow</span></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>