  <div class="site-nav {{ nav_class }}footer">
    <ul>
      <li class="site-nav__season"><a href="/season/"><i class="icon-calendar"></i>Season</a></li>
      <li class="site-nav__about"><a href="/about/"><i class="icon-edit"></i>About</a></li>
      <li class="site-nav__follow"><a href="/follow/"><i class="icon-rss"></i>Follow</a></li>
    </ul>
  </div>
    <footer class="copyright">
        <p>2013 / An Ablaze Interaction  / design <a href="#">by P</a> / engineering <a href='http://rumproarious.com'>by Alex Kessinger</a></p>
    </footer>