{% assign found_first = false %}

<div class='yui3-g'>
    {% for post in site.posts_by_issue[page.issue] %}
        {% if post.order == 1 %}
            {% assign width='yui3-u-1' %}
        {% else %}
            {% assign width='yui3-u-1-2 m-yui3-u-1' %}
        {% endif %}
        {% assign content = post.content %}
        <div class='{{ width }}'>
            <div class='issue-block'>
                <h2>{{ post.title }}</h2>
                <p>{{ post.sub_title }}</p>
            </div>
        </div>
    {% endfor %}
</div>