{% assign found_first = false %}
  {% assign post = site.posts_by_issue[current_issue][0] %}
  <div class="issue-{{ page.issue }}">
    <div class="issue-cover" {% if page.image %}style='background: url("/img/issue-cover-n1.jpg") no-repeat top center;'{% endif %}>
      <div class="issue-cover__headline">
        <div class="numbers-box">
          <ul class="number-links">
            {% if page.issue != 1 %}
            <li class="number-links__prev"><a href="#">Previous Issue</a></li>
            {% endif %}
            <li class="number-links__current">Issue {{current_issue}} {{ page.date_formatted }} – <i>September 30th, 2013</i></li>
            {% if current_issue != site.current_issue and current_issue < site.current_issue %}
            <li class="number-links__next"><a href="#">Next Issue</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="issue-cover__title post-type-{{ post.post_type }}">
          <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
            <p>{{ post.sub_title }}</p>
          </a>
        </div>
      </div>

    </div>

    <ul class="cover-articles">
      {% for post in site.posts_by_issue[current_issue] offset:1 %}
        {% assign icon_class = '' %}
        {% if post.post_type == 'audio' %}
            {% assign icon_class = 'icon-volume-up' %}
        {% elsif post.post_type == 'video' %}
            {% assign icon_class = 'icon-video' %}
        {% elsif post.post_type == 'picture' %}
            {% assign icon_class = 'icon-picture' %}
        {% endif %}
        <li class="cover-article {% if post.image %}has-thumbnail-cover-article{% endif %} {% cycle 'short-cover-article c1', 'long-cover-article c2', 'long-cover-article c3', 'short-cover-article c4' %}" {% if post.image %}style='background-image: url({{post.image}}) no-repeat left top;'{% endif %}>
          {{post.image}}
          <a href="{{ post.url }}">
            <h2>
                {% if icon_class != '' %}
                <i class="icon {{icon_class}}"></i><br />
                {% endif %}
                {{ post.title }}
            </h2>
            <p>{{ post.sub_title }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>